<div class="toolbar flex items-center justify-between gap-4 mb-3">
<p></p>
@if(claims()){
<p>Usuario: {{ claims()?.roles || claims()?.email || 'sin nombre' }}</p>
}
</div>




<!--Incluimos la información que se va a visualizar -->
<mat-card class="welcome-card">
  <mat-card-header>

    <mat-card-title>Daily Message</mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <br>


    <dailyMessage-search-daily placeholder="Buscar por nombre, email, estado..."
(searchInput)="deilyResource($event)" />


<app-new-daily/>


<!--Aqui va la tabla de la información -->
<app-daily-table-componet/>


  </mat-card-content>
</mat-card>
