<div class="toolbar flex items-center justify-between gap-4 mb-3">
  <p></p>
  @if(claims()){
  <p>Usuario: {{ claims()?.roles || claims()?.email || 'sin nombre' }}</p>
  }
</div>



<app-loading [loading]="loading_()"/>
<!--Incluimos la información que se va a visualizar -->
<mat-card class="welcome-card">
  <mat-card-header>

    <mat-card-title>Daily Message</mat-card-title>

  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <br>

    <mat-toolbar class="!bg-transparent !p-0">
      <div class="flex-1">
        <dailyMessage-search-daily placeholder="Buscar por nombre, email, estado..."
          (searchInput)="deilyResource($event)" />
      </div>
      <span class="flex-shrink-0">
        <button mat-flat-button color="primary" (click)="NewCreationDailyPanel(query())">
          <mat-icon>add</mat-icon>&nbsp;Nuevo</button>
        <!-- <app-new-daily (newCreation)="newCreationDaily($event)" />-->
      </span>
    </mat-toolbar>

    <!--Aqui va la tabla de la información -->
    <app-daily-table-componet
    [data]="loadDailyData.value()"
    [query]="query()"
    (queryUpdate)="NewCreationDailyPanel($event)"
    (queryFinishProceess)="completeProcessDaily($event)"/>



    <app-panel-right title="Daily Message" [(opened)]="panelOpen">


      <app-daily-form-dialog
      [idRegist]="idRegistro()"
      [reloadKey]="reloadKey"
      (saved)="onDailySaved()"></app-daily-form-dialog>

    </app-panel-right>

  </mat-card-content>
</mat-card>
